@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: white;
}

:target{
    background-color: rgb(189, 220, 255);
}

#tentacles {
    width: 50px;
}

.header {
    position: sticky;
    top: 0;
    color: black !important;
    display: flex;
    background-color: lightblue;
    padding: 1%;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}
.header a{
    text-decoration: none;
}
.header a:link{
    color: black;
}
.header a:visited{
    color: black;
}
#site-name{
    display: flex;
}

.stats-container {
    display: flex;
}

.stats-card {
    background-color: #83b3fa;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

.stats-container{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.stats-container:hover{
    box-shadow: 0 0 30px lightblue;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    cursor: pointer;
}

#navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#navbar *{
    padding: 10px;
    font-size: 25px;
    color: blue;
    font-weight: bold;
}